:host {
    display: block;
    width: 100%;
    padding: 48px 32px;
    box-sizing: border-box;

    .playground-container {
        width: 100%;
    }

    .controls-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 16px;

        & > * {
            margin: 8px 24px 8px 0;
        }
    }

    .grid-container {
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid var(--ktd-border-color);
        background-color: var(--ktd-background-color);
        border-radius: 2px;
    }

    ktd-grid-item {
        color: #121212;
    }

    ktd-grid {
        transition: height 500ms ease;
    }

    .grid-item-content {
        box-sizing: border-box;
        background: #ccc;
        border: 1px solid;
        width: 100%;
        height: 100%;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-item-remove-handle {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        top: 0;
        right: 0;

        &::after {
            content: 'x';
            color: #121212;
            font-size: 16px;
            font-weight: 300;
            font-family: Arial, sans-serif;
        }
    }

    // Add custom drag mouse styles
    ktd-grid-item {
        cursor: grab;

        &.ktd-grid-item-dragging {
            cursor: grabbing;
        }
    }

    mat-chip-list, mat-chip {
        pointer-events: none;
        user-select: none;
    }


}
