@use '~@angular/material' as mat;

$app-primary: mat.define-palette(mat.$orange-palette, 500);
$app-accent:  mat.define-palette(mat.$orange-palette, 300);
$app-warn:    mat.define-palette(mat.$red-palette, 400);
$app-theme:   mat.define-dark-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
    )
));

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Important: include this mixin only once.
@include mat.core();

// App theme
$app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);

// Specifies the theming for angular material components
@include mat.all-component-themes($app-theme);
