@import '~@angular/material/theming';

$app-primary: mat-palette($mat-orange, 500);
$app-accent:  mat-palette($mat-orange, 300);
$app-warn:    mat-palette($mat-red, 400);
$app-theme:   mat-dark-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
    )
));

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Important: include this mixin only once.
@include mat-core();

// App theme
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Specifies the theming for angular material components
@include angular-material-theme($app-theme);
