<h1>Angular Grid Layout - Custom handles</h1>
<div class="grid-container">
    <ktd-grid [cols]="cols"
              [rowHeight]="rowHeight"
              [layout]="layout"
              [compactType]="compactType"
              (layoutUpdated)="onLayoutUpdated($event)">
        <ktd-grid-item *ngFor="let item of layout; trackBy:trackById"
                       [id]="item.id">
            <div ktdGridDragHandle class="handle-1">Handle 1</div>
            <div class="grid-item-content">
                <div ktdGridDragHandle class="handle-2">Handle 2</div>
            </div>
            <mat-icon ktdGridResizeHandle class="resize-handle-1">open_in_full</mat-icon>
        </ktd-grid-item>
    </ktd-grid>
</div>
<h2 style="margin-top: 16px">Other examples: </h2>
<div style="display: flex; flex-direction: column">
    <a [routerLink]="['/playground']">Playground</a>
    <a [routerLink]="['/real-life-example']">Real life example</a>
</div>
