<div class="grid-container">
    <ktd-grid [cols]="cols"
              [rowHeight]="rowHeight"
              [layout]="layout"
              [scrollableParent]="document"
              [compactType]="compactType"
              (layoutUpdated)="onLayoutUpdated($event)">
        <ktd-grid-item id="0" minW="4">
            <div class="chart-card">
                <h2>Population by year</h2>
                <div echarts class="chart-view" [options]="populationByYearChart"></div>
            </div>
            <ng-template ktdGridItemPlaceholder>
                <div class="custom-placeholder-container">
                    <div class="chart-card placeholder">
                        <h2>Population by year</h2>
                        <div echarts class="chart-view" [options]="populationByYearPlaceholderChart"></div>
                    </div>
                </div>
            </ng-template>
        </ktd-grid-item>
        <ktd-grid-item id="1">
            <div class="chart-card">
                <h2>Population ranking</h2>
                <div echarts class="chart-view" [options]="populationHorizontalChart"></div>
            </div>
            <ng-template ktdGridItemPlaceholder>
                <div class="custom-placeholder-container">
                    <div class="chart-card placeholder">
                        <h2>Population ranking</h2>
                        <div echarts class="chart-view" [options]="populationHorizontalPlaceholderChart"></div>
                    </div>
                </div>
            </ng-template>
        </ktd-grid-item>
        <ktd-grid-item id="2">
            <div class="chart-card">
                <h2>Treemap</h2>
                <div class="treemap-layout">
                    <div class="treemap-column treemap-column-left">
                        <div *ngFor="let tile of treemapColumns[0]"
                             class="treemap-tile"
                             [class.treemap-tile-dark]="tile.darkText"
                             [style.background]="tile.color">
                            <span>{{ tile.name }} Population</span>
                            <strong>{{ formatPopulation(tile.value) }}</strong>
                        </div>
                    </div>
                    <div class="treemap-column treemap-column-middle">
                        <div *ngFor="let tile of treemapColumns[1]"
                             class="treemap-tile"
                             [class.treemap-tile-dark]="tile.darkText"
                             [style.background]="tile.color">
                            <span>{{ tile.name }} Population</span>
                            <strong>{{ formatPopulation(tile.value) }}</strong>
                        </div>
                    </div>
                    <div class="treemap-column treemap-column-right">
                        <div *ngFor="let tile of treemapColumns[2]"
                             class="treemap-tile"
                             [class.treemap-tile-dark]="tile.darkText"
                             [style.background]="tile.color">
                            <span>{{ tile.name }} Population</span>
                            <strong>{{ formatPopulation(tile.value) }}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template ktdGridItemPlaceholder>
                <div class="custom-placeholder-container">
                    <div class="chart-card placeholder">
                        <h2>Treemap</h2>
                        <div class="treemap-layout">
                            <div class="treemap-column treemap-column-left">
                                <div *ngFor="let tile of treemapColumns[0]"
                                     class="treemap-tile"
                                     [class.treemap-tile-dark]="tile.darkText"
                                     [style.background]="tile.color">
                                    <span>{{ tile.name }} Population</span>
                                    <strong>{{ formatPopulation(tile.value) }}</strong>
                                </div>
                            </div>
                            <div class="treemap-column treemap-column-middle">
                                <div *ngFor="let tile of treemapColumns[1]"
                                     class="treemap-tile"
                                     [class.treemap-tile-dark]="tile.darkText"
                                     [style.background]="tile.color">
                                    <span>{{ tile.name }} Population</span>
                                    <strong>{{ formatPopulation(tile.value) }}</strong>
                                </div>
                            </div>
                            <div class="treemap-column treemap-column-right">
                                <div *ngFor="let tile of treemapColumns[2]"
                                     class="treemap-tile"
                                     [class.treemap-tile-dark]="tile.darkText"
                                     [style.background]="tile.color">
                                    <span>{{ tile.name }} Population</span>
                                    <strong>{{ formatPopulation(tile.value) }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ktd-grid-item>
        <ktd-grid-item id="3">
            <div class="logo-tile">
                <span>K</span>
            </div>
        </ktd-grid-item>
        <ktd-grid-item class="ktd-grid-item-table" id="4">
            <div ktdGridDragHandle class="table-drag-handle">Drag here</div>
            <ktd-table-sorting></ktd-table-sorting>
            <ng-template ktdGridItemPlaceholder>
                <div class="custom-placeholder-container ktd-grid-item-table">
                    <ktd-table-sorting></ktd-table-sorting>
                </div>
            </ng-template>
        </ktd-grid-item>
        <ktd-grid-item id="5">
            <div class="chart-card">
                <h2>Population share</h2>
                <div echarts class="chart-view" [options]="populationPieChart"></div>
            </div>
            <ng-template ktdGridItemPlaceholder>
                <div class="custom-placeholder-container">
                    <div class="chart-card placeholder">
                        <h2>Population share</h2>
                        <div echarts class="chart-view" [options]="populationPiePlaceholderChart"></div>
                    </div>
                </div>
            </ng-template>
        </ktd-grid-item>
    </ktd-grid>
</div>
<ktd-footer></ktd-footer>
