:host {
    display: block;
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    .grid-container {
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid gray;
        border-radius: 2px;
        background: #313131;
    }

    ktd-grid-item {
        box-sizing: border-box;
        background: #ccc;
        border: 1px solid black;
        color: black;

        &.ktd-grid-item-table {
            padding: 16px;
            box-sizing: border-box;
            border: none;
            background: transparent;
        }
    }

    .ktd-grid-img-container {
        width: 100%;
        height: 100%;
        background-color: #e67301;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


}
