<div class="grid-container" #gridContainer>
    <ktd-grid [cols]="cols"
              [height]="gridHeight"
              [rowHeight]="'fit'"
              [layout]="layout"
              [compactType]="compactType"
              [preventCollision]="preventCollision"
              [gap]="gap"
              (layoutUpdated)="onLayoutUpdated($event)">
        <ktd-grid-item *ngFor="let item of layout; trackBy:trackById"
                       [id]="item.id"
                       [draggable]="!disableDrag"
                       [resizable]="!disableResize">
            <div class="grid-item-content">{{item.id}}</div>
            <div class="grid-item-remove-handle"
                 *ngIf="!disableRemove"
                 (mousedown)="stopEventPropagation($event)"
                 (click)="removeItem(item.id)">
            </div>
        </ktd-grid-item>
    </ktd-grid>
</div>

<div class="footer-container">
    <ktd-footer></ktd-footer>
</div>
