:host {
    width: 100%;
    display: block;
    background: #121212;
    box-sizing: border-box;

    .app-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        background-color: #222222;
        border-bottom: 1px solid #424242;

        h1 {
            margin-bottom: 0;
        }

        mat-icon.github-icon {
            line-height: 32px;
            width: 32px;
            height: 32px;
        }
    }


}
